<div class="row">
  <div class="col-lg-6">

    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        {{input value=userEmail id="email" type="email" placeholder="Email" class="form-control"}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        {{input value=userPassword id="password" type="password" placeholder="Password" class="form-control"}}
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new user <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu">
          <li><a href="#" {{action "createUser" customerRoleId preventDefault=true}}>As customer</a></li>
          <li><a href="#" {{action "createUser" supportRoleId preventDefault=true}}>As support</a></li>
          <li><a href="#" {{action "createUser" adminRoleId preventDefault=true}}>As admin</a></li>
        </ul>
      </div>
    </form>
  </div>
  <div class="col-lg-6">
  </div>
</div>